.comment-box {
    .comment-form {
        .new-comment.closed {
            .user-avatar {
                float: left;

                img {
                    border-radius: 50%;
                }
            }

            .comment-placeholder {
                margin-left: 75px;
                padding: 5px;
            }
        }
    }
}
