.comment-box {
    .conversation {
        .comment-item {
            display: block;
            min-height: 70px;

            .user-avatar {
                float: left;

                img {
                    border-radius: 50%;
                }
            }

            .main {
                margin-left: 75px;

                .user-name {
                    font-weight: bold;
                }

                .text {
                    p {
                        margin: 0px;
                    }
                }

                .actions {
                    span {
                        margin-right: 5px;
                        color: #888888;

                        &:not(:first-child):before {
                            content: "• ";
                        }

                        &:hover {
                            color: #484848;
                            cursor: pointer;
                        }
                    }
                }

                .replies {
                    padding-left: 0px;
                    padding-top: 5px;
                }
            }
        }
    }
}
