.course-container {
    .course-view {
        .skills {
            span {
                margin-right: 3px;
            }
        }

        .description {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
