.course-container {
    .course-list {
        .actions {
            display: inline-block;

            .new-course {
                float: left;
                margin-right: 10px;
            }
        }
    }
}
