.lesson-container {
    .lesson-list {
        .actions {
            display: inline-block;

            .new-lesson {
                float: left;
                margin-right: 10px;
            }
        }
    }
}
