.lesson-container {
    .lesson-item {
        position: relative;

        &:hover {
            box-shadow: 0 2px 10px gray;

            .icon {
                cursor: pointer;
            }

            .actions {
                display: block;

                button {
                    cursor: pointer;
                    margin-right: 3px;
                }
            }
        }

        .actions {
            display: none;
        }

        .title {
            font-size: 1.2em;
        }

        .skills {
            span {
                margin-right: 3px;
            }
        }

        .description {
            p {
                font-size: 0.9em;
                white-space: nowrap;
                width: 100%;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
