.user-container {
    .user-view {
        .profile {
            min-height: 256px;

            .avatar {
                float: left;
            }
            .info {
                margin-left: 270px;

                .full-name {
                    font-size: 1.4em;
                }

                .skills {
                    span {
                        margin-right: 5px;
                    }
                }
            }
        }

        .lessons, .courses {
            list-style: none;
        }
    }
}
