@img-size: 64px;
@padding: 5px;
@border: 1px;
@height: @img-size + 2 * (@padding + @border);

.user-container {
    .user-item {
        background-color: #ffffff;
        position: relative;
        height: @height;
        border: @border solid #DADADA;
        border-top-left-radius: @height/2;
        border-bottom-left-radius: @height/2;
        margin: 5px;
        padding: @padding;

        &:hover {
            box-shadow: 0 2px 10px gray;

            .avatar {
                cursor: pointer;
            }
        }

        .avatar {
            float: left;

            img {
                border-radius: 50%;
            }
        }

        .full-name {
            font-size: 1.2em;
        }

    }
}
