.grid {
    .search-field {
        width: 170px;
    }

    .grid-header-direction-hide {
        opacity: 0;
    }

    table {
        thead {
            border-top: 1px solid #f4f4f4;
            th {
                cursor: pointer;

                i {
                    margin-top: 2px;
                }
                &:first-child {
                    width: 100px;
                }
                &:last-child {
                    text-align: center;
                    width: 100px;
                }
            }
        }
        tbody {
            tr {
                td {
                    &:last-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.box-header {
    .box-tools {
        .clearfix {
            > .tool {
                float: right;
                margin-left: 5px;
            }
        }
    }
}
