.selector {
    @height: 200px;
    height: @height;
    position: relative;

    @media screen {
        width: 100%;
        display: block;
        @media (max-width: 768px) {
            display: block;
        }

        .rest-box, .selected-box {
            width: 45%;
            float: left;
            @media (max-width: 768px) {
                width: 100%;
                float: none;
            }

            select {
                height: @height
            }
        }

        .action {
            width: 10%;
            float: left;
            text-align: center;
            cursor: pointer;
            line-height: @height;
            @media (max-width: 768px) {
                width: 100%;
                float: none;
                line-height: 30px;
            }
        }
    }
}
