.skill-level-view {
    margin-right: 5px;

    .level-popover {
        padding: 10px;
        width: 180px;

        .level-picker {
            .value {
                position: absolute;
                top: 10px;
                font-size: 25px;
                color: #929292;
            }
        }
    }
}
