.uploader {
    .info {
        margin-bottom: 20px;
    }

    .choose-file {
        text-align: center;

        button {
            position: relative;
            overflow: hidden;

            input {
                position: absolute;
                height: 50px;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
    }
}
